
<script type="text/javascript">

</script>

    <div class="row tabs-faq" dir="rtl"><!-- BTNS -->

      <a href="#div4-faq-p">
        <div class="col s3 navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <div class="center-align" style="margin-top: 30px;">
            <%= image_tag("http://i.imgur.com/cJAg0pT.png", :style => "width: 30%;", :class => "undraggableimg")%>
          </div>
          <h1 class="center-align navbtns-faq-title">תנאי שימוש</h1>
        </div>
      </a>

      <a href="#div3-faq-p">
        <div class="col s3 navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <div class="center-align" style="margin-top: 30px;">
            <%= image_tag("http://i.imgur.com/ucNTiP2.png", :style => "width: 30%;", :class => "undraggableimg")%>
          </div>
          <h1 class="center-align navbtns-faq-title">פנסיה בקצרה</h1>
        </div>
      </a>

      <a href="#div2-faq-p">
        <div class="col s3 navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <div class="center-align" style="margin-top: 30px;">
            <%= image_tag("http://i.imgur.com/PhwHBrZ.png", :style => "width: 30%;", :class => "undraggableimg")%>
          </div>
          <h1 class="center-align navbtns-faq-title">פרטיות ואבטחה</h1>
        </div>
      </a>

      <a href="#div1-faq-p">
        <div class="col s3 navbtns-faq">
          <div class="center-align" style="margin-top: 30px;">
            <%= image_tag("http://i.imgur.com/OkQs1bf.png", :style => "width: 30%;", :class => "undraggableimg")%>
          </div>
          <h1 class="center-align navbtns-faq-title">קצת עלינו</h1>
        </div>
      </a>

    </div><!-- BTNS / -->


    <div class="row fixed-tabs-faq" dir="rtl"><!-- FIXED BTNS -->

      <a href="#div4-faq-p">
        <div class="col s3 fixed-navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <h1 class="center-align navbtns-faq-title-fixed " style="font-size: 20px; padding-top: 10px;">תנאי שימוש</h1>
        </div>
      </a>

      <a href="#div3-faq-p">
        <div class="col s3 fixed-navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <h1 class="center-align navbtns-faq-title-fixed" style="font-size: 20px; padding-top: 10px;">פנסיה בקצרה</h1>
        </div>
      </a>

      <a href="#div2-faq-p">
        <div class="col s3 fixed-navbtns-faq" style="border-right: 1px solid #e0e0e0;">
          <h1 class="center-align navbtns-faq-title-fixed" style="font-size: 20px; padding-top: 10px;">פרטיות ואבטחה</h1>
        </div>
      </a>

      <a href="#div1-faq-p">
        <div class="col s3 fixed-navbtns-faq">
          <h1 class="center-align navbtns-faq-title-fixed" style="font-size: 20px; padding-top: 10px;">קצת עלינו</h1>
        </div>
      </a>

    </div><!-- FIXED BTNS / -->

    <!-- TEXT -->

  <div style="background-color:#fff">
    <div style="margin-right: 10%;margin-left: 10%;" dir="rtl">

      <div id="div1-faq" class="">
        <h1 class="h1faq">מי אנחנו?</h1>
        <h1 id="div1-faq-p" class="pfaq section scrollspy">
          מערכת boost מורשית למתן ייעוץ פנסיוני ע"פ חוק ואינה נהנית מעמלת שווק כלשהיא מטעם קרנות הפנסיה, בתי ההשקעות והגופים המנהלים את כספכם. מערכת boost נקייה מכל אינטרס ומחויבת אך ורק כלפי לקוחותיה.
אנחנו מאמינים שייעוץ וליווי קבוע תוך כדי ניהול הצורך הפנסיוני והפיננסי של לקוחותינו יביא בסופו של הליך לתוצאה הטובה ביותר.
צוות הפיתוח של boost הקדיש ימים כלילות לפיתוח מערכת שתתריע דיגיטלית על כל אפשרות להפחתה נוספת בדמי הניהול מחד, ולאלטרנטיבות השקעה במסלולי ההשקעה השונים אחת לרבעון מאידך. האלגוריתם שפיתחנו בודק, משווה ומתריע בין מסלולי השקעה אלטרנטיביים וברמת סיכון דומה,  שהשיגו תשואה גבוהה יותר ב 12 החודשים האחרונים.

כמו כן, תאפשר המערכת דיאלוג קבוע בינך כלקוח/ה וכעמית/ה בתוכנית הפנסיונית לבנינו בדבר שינוי בסטטוס המשפחתי, בהכנסתך ובמצבך הרפואי לצורך התאמת התוכנית לצרכיך המשתנים אחת לרבעון ובאמצעים דיגיטליים נוחים ישירות לתיבת המייל האישית שלך. כל שנותר לך לעשות הוא ל"צייץ" לנו על השינוי ואנו נפעל בהתאם.

היתכן מצב בו נחסוך ונשקיע מכספנו בתוכנית חסכון ולא ננהל ונעקוב אחריה?

אצלנו תוכל לנהל כל תכנית חסכון והשקעה לטווח הבינוני והארוך, ובכך עסקינן. כל תכנית מלווה בניהול ובבקרה קבועים אחר כל מרכיבי החסכון, התשואה, דמי הניהול והתאמתה של התכנית לצרכים המשתנים שלך במהלך החיים.
        </h1>
      </div>

      <div id="div2-faq">
        <h1 class="h1faq">פרטיות ואבטחה</h1>
        <h1 id="div2-faq-p" class="pfaq section scrollspy">
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
        </h1>
      </div>

      <div id="div3-faq">
        <h1 class="h1faq">פנסיה בקצרה</h1>
        <h1 id="div3-faq-p" class="pfaq section scrollspy">
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
           בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
        </h1>
      </div>

      <div id="div4-faq" class="section scrollspy">
        <h1 class="h1faq">תנאי שימוש</h1>
        <h1 id="div4-faq-p" class="pfaq section scrollspy">
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
          בלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלהבלה בלה
        </h1>
      </div>

    </div>
  </div>

  <script>
    $(".fixed-tabs-faq").hide();
    $(window).scroll(function() {
      if ($(window).scrollTop() > 200) {
          $('.fixed-tabs-faq').removeClass("animated fadeOutUpBig");
          $('.fixed-tabs-faq').show();
          $('.fixed-tabs-faq').addClass("animated fadeInDownBig");
        }
       else
       {
        $('.fixed-tabs-faq').removeClass("animated fadeInDownBig");
        $('.fixed-tabs-faq').addClass("animated fadeOutUpBig");
      }
  });

  if (window.location.pathname == "/faq") {
    $(".navbtnstrt").addClass("hide");
  };
  </script>
