  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<body>
  <div class="parallax-container" style="height: 25em;">
    <div id="first-div" class="parallax">
      <div style="padding-top: 0.5em;">
        <h1 style="margin-left: 15%;color: #009688;">A great sentence,</h1>
        <h1 style="margin-left: 40%;color: #fff;">And yet another one.</h1>
        <div style="margin-left: 43%;margin-top: 5em;">
          <a class="waves-effect waves-light btn btn-large">GET STARTED</a>
        </div>
      </div>
    <img style="z-index: -1;width:100%;" src="https://s-media-cache-ak0.pinimg.com/originals/7b/f5/37/7bf5373cfade37eba1c56adf737f5e2e.jpg">
      <div style="margin-left: 10%; margin-right: 10%;">
      </div>
    </div>
  </div>

  <div id="second-div">
    <div style="margin-left: 10%; margin-right: 10%;margin-top: 8em;font-size: 23px;">
      <p id="marketing-sentence">.משפט מתוחכם שיעזור לי להרוויח כסף</p>
    </div>
  </div>

<div style="margin-top: 50vh;"></div><!-- SPACE -->

  <div class="parallax-container">
    <div id="third-div" class="parallax">
          <div style="padding-top: 15em;">
          <p style="text-align: center;font-size: 40px;color: #fff;">CONTACT INFO CONTACT INFO CONTACT INFO CONTACT INFO</p>
      </div>
    <img style="z-index: -1;width:100%;" src="https://wallpaperscraft.com/image/scooter_moped_vespa_retro_mint_102397_3840x2160.jpg">
      <div style="margin-left: 10%; margin-right: 10%;">
      </div>
    </div>
  </div>

    <div id="fourth-div">
    <div style="margin-left: 10%; margin-right: 10%;margin-top: 3em;font-size: 23px">
      <p id="marketing-sentence">.עוד משפט מתוחכם שיעזור לי להרוויח כסף</p>
    </div>
  </div>

    <div class="parallax-container" style="height: 25em;">
    <div id="third-div" class="parallax">
          <div style="padding-top: 8em;">
          <p style="text-align: center;font-size: 40px;color: #fff;">SOME MORE STUFF SOME MORE STUFF SOME MORE STUFF</p>
      </div>
    <img style="z-index: -1;width:100%;" src="http://static.keptelenseg.hu/p/d3e68b0fd0d514604d384744da883642.jpg">
      <div style="margin-left: 10%; margin-right: 10%;">
      </div>
    </div>
  </div>

          <footer class="page-footer" style="background-color: #009688">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Popsicle Inc.</h5>
                <p class="grey-text text-lighten-4">Some more information about us.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Discover</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Feedback</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Jobs</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Popsicle
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            

</body>

<script type="text/javascript">
      $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>