  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<body>
  <div class="parallax-container">
    <div id="first-div" class="parallax"><img src="http://cdn.wallpapersafari.com/54/89/niTbQs.jpg">
      <div style="margin-left: 10%; margin-right: 10%;">
        <h1 style="margin-left: 55%;">DBI</h1>
        <h1 style="margin-left: 40%">בשיתוף</h1>
        <h1 style="margin-left: 30%">.מל״מ</h1>
      </div>
    </div>
  </div>

  <div id="second-div">
    <div style="margin-left: 10%; margin-right: 10%;">
      <p id="marketing-sentence">.משפט מתוחכם שיעזור לי להרוויח כסף</p>
    </div>
  </div>

  <div class="parallax-container">
    <div id="third-div" class="parallax"><img src="https://images5.alphacoders.com/568/568653.jpg">
      <div style="margin-left: 10%; margin-right: 10%;">
        <p id="contact-info">CONTACT INFO</p>
      </div>
    </div>
  </div>

</body>

<script type="text/javascript">
      $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>