@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import '*';

body{

}

.nav-wrapper{
  margin-left: 10%;
  margin-right: 10%;
} 

.logo{
  padding-top: 0.5em;
  width: 3em;
}

#navbar{
  background-color: #fff;
}

h1{
  font-family: 'Suez One', serif;
}

#title{
  color: #009688;
}

#first-div{
}

#second-div{
  position: absolute; 
  width: 100%; 
  height: 65vh; 
  background-color: #fff;
}
#third-div{
}
#fourth-div{
  width: 100%; 
  height: 20vh; 
  background-color: #fff;
}

#marketing-sentence{
  margin-left: 23%;
  font-family: 'Suez One', serif;
  font-size: 1.5em;
  color: #4e342e;

}
#contact-info{
  color: #fff;
  text-align: center;
}