@import 'mobile.scss';
@import 'c3.scss';
@import 'faq.scss';

$boost-pink: #E91E63;
$boost-green: #18FFFF;

body{
  background-color: #fff !important;
}
.side-nav-btn{
  display: none;
}

#navbar{
  background-color: #fff;
}

h1{
  font-family: 'Assistant', serif;
}

#title{
  color: $boost-pink;
  font-size: 40px;
  font-weight: 100;
  display: inline;
  margin-top: 0.2em;
}

#first-div{
  /*ORIGINAL BG http://i.imgur.com/9CR8tu7.png*/
  background-image: url("http://i.imgur.com/HgX2aHA.png");
  background-size: 300%;
  background-color: #eeeeee;
  height: 45em;
}

#second-div{
  width: 100%;
  background-color: #fff;
}

#third-div{
  height: 45em;
  background-image: url("http://i.imgur.com/a1Zw7eG.png");
  background-size: 280%;
  background-color: #b5b4ae;
}

#fourth-div{
  width: 100%;
  height: 50em;
  background-color: #fff;
}
#prices-div{
  height: 46em;
  background-color: #bdbdbd;
}
.price-cube{
  border: 2px dashed #757575;
  border-radius: 33px;
}
.price-cube-text{
  color: #757575;
}
#fifth-div{
  background-color: #F5F5F5;
  height: 50em;
}

#marketing-sentence{
  text-align: center;
  font-family: 'Assistant', serif;
  font-size: 30px;
  color: #4e342e;

}
#contact-info{
  color: #fff;
  text-align: center;
}

.howboostworks{
  width: 35%;
}
.howboostworkstext{
  margin-bottom: 0 !important;
  margin-top: 0.5em !important;
}
.boost-btn{
  background-color: $boost-pink !important;
  margin-left: 50%;
}
.inputs{
  border-bottom: 1px solid #fff !important;
  font-family: 'Assistant', serif;
  font-size: 25px !important;
  font-weight: 100;
}
 /* label underline focus color */
 .inputs:focus {
   border-bottom: 1px solid #fff !important;
   box-shadow: 0 1px 0 0 #fff !important;
   color: #fff;
 }
 .inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.inputs::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.inputs:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.inputs:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

 .firm-icon {
    margin-left: 1em;
    opacity: 0.7;
    transition: 0.3;
 }
  .firm-icon:hover {
    margin-left: 1em;
    opacity: 1;
    transition: 0.3;
 }
 .undraggableimg{
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
 }
 .welcome-arrow{
  position: absolute;
  left: 12.5em;
  top: 13em;
  font-size: 50px;
 }
 .button {
    background-color: #fff;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Assistant', serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
 .buttonsml {
    background-color: #fff;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Assistant', serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 5em;
    height: 2.8em;
}
.buttonc {
    background-color: #E91E63;
    color: #fff;
    &:hover{
      background-color: #e7e7e7;
      color: #000;
    }
}
.buttonmodal {
    background-color: #e7e7e7;
    color: #000;
    &:hover{
      background-color: #fff;
      color: #000;
    }
}

#welcome-list-h1{
  font-family: 'Assistant', serif;
  color: #fff !important;
}
#welcome-list-h1-nobullet{
  font-family: 'Assistant', serif;
  color: #fff !important;
}
#welcome-list-h1::before {
  content: "•";
  color: $boost-green;
  display: inline-block !important;
  margin-left: 0.2em;
  font-size: 30px;
}
::selection {
  background: $boost-pink; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $boost-pink; /* Gecko Browsers */
  color: #fff;
}
#modal-contact{
}
.noselect {
  -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
     -khtml-user-select: none !important; /* Konqueror HTML */
       -moz-user-select: none !important; /* Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.infinite-icon{
  width: 20%;
}
.exit-img{
    -moz-transition: -moz-transform ease 0.4s;
  -webkit-transition: -webkit-transform ease 0.4s;
  -o-transition: -o-transform ease 0.4s;
  -ms-transition: -ms-transform ease 0.4s;
  transition: transform ease 0.4s;
 &:hover {
     -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
 }
}
.pink-marker{
  background-color: $boost-pink;
  color: white;
  border-radius: 20px;
}
.hide{
  display: none;
}
