body{

}
#navbar{
  background-color: #fff;
}

h1{
  font-family: 'Assistant', serif;
}

#title{
  color: #E91E63;
  font-size: 40px;
  font-weight: 100;
  display: inline; 
  margin-top: 0.2em;
}

#first-div{
  /*ORIGINAL BG http://i.imgur.com/9CR8tu7.png*/
  background-image: url("http://i.imgur.com/3PLuL01.png");
  background-size: 100%;
  background-color: #eeeeee;
  height: 45em;
}

#second-div{
  width: 100%; 
  background-color: #fff;
}

#third-div{
  height: 20em;
  background-image: url("http://i.imgur.com/a1Zw7eG.png");
  background-color: #b5b4ae;
}

#fourth-div{
  width: 100%; 
  height: 45em; 
  background-color: #fff;
}
#fifth-div{
  background-color: #F5F5F5;
}

#marketing-sentence{
  text-align: center;
  font-family: 'Assistant', serif;
  font-size: 30px;
  color: #4e342e;

}
#contact-info{
  color: #fff;
  text-align: center;
}

.howboostworks{
  width: 50%;
  height: 25%;
}
.boost-btn{
  background-color: #FFC107 !important;
  margin-left: 50%;
}
 /* label underline focus color */
 .inputs:focus {
   border-bottom: 1px solid grey !important;
   box-shadow: 0 1px 0 0 grey !important;
 }
 .inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888888;
}
.inputs::-moz-placeholder { /* Firefox 19+ */
  color: #888888;
}
.inputs:-ms-input-placeholder { /* IE 10+ */
  color: #888888;
}
.inputs:-moz-placeholder { /* Firefox 18- */
  color: #888888;
}

 .firm-icon {
    margin-left: 1em;
    opacity: 0.3;
    transition: 0.3;
 }
  .firm-icon:hover {
    margin-left: 1em;
    opacity: 1;
    transition: 0.3;
 }
 .undraggableimg{
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
 }
 .welcome-arrow{
  position: absolute;
  left: 12.5em;
  top: 13em;
  font-size: 50px;
 }
 .button {
    background-color: #fff;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Assistant', serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
 .buttonsml {
    background-color: #fff;
    border: none;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Assistant', serif;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 5em;
    height: 2.8em;
}
.buttonc {
    background-color: #E91E63;
    color: #fff;
}

.buttonc:hover {
  background-color: #e7e7e7;
  color: #000;
}
#welcome-list-h1{
  font-family: 'Assistant', serif;
  color: #fff !important;
}
#welcome-list-h1::before {
  content: "•";
  color: #18FFFF;
  display: inline-block !important;
  margin-left: 0.2em;
  font-size: 30px;
}
::selection {
  background: #E91E63; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #E91E63; /* Gecko Browsers */
  color: #fff;
}
#modal-contact{
  background-color: #dddddd;
  width: 30%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}





/*-- ---------------Chart-------------- --*/
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent; }

.c3 path, .c3 line {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: .1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: .1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.15; }

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Title --*/
.c3-title {
  font: 14px sans-serif; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }

  /* -------------------------------------------------------------------------------------------------------------------------------------- */

  @media only screen and (max-width: 1000px) {
    /*FIRST DIV*/
    #first-div{
      background-image: url("http://i.imgur.com/BMp11mA.png");
      background-size: 300% !important;
      height: 50em;
    }
    .first-mrkt-s-m{
      margin-right: 0 !important;
      text-align: center;
      font-size: 47px !important;
    }

    .first-mrkt-ul{
      margin-left: 3em !important;
      margin-right: 3em !important;
      margin-top: 2em !important;
      text-shadow: 1px 1px #888888;
      padding: 0;
    }
    .first-div-bullet{
      font-size: 20px !important;
    }
    .join-btn{
      width: 100% !important; 
    }

    #modal-contact{
      width: 100%;
    }
    .navbtnstrt{
      margin-top: 0.4em;
      height: 2em;
    }
    #title{
      margin-top:0.1em;
    }

    /*SECOND DIV*/

    .cal-inputs{
      width: 100% !important; 
      margin-right: 1% !important;
      margin-left: 0 !important;
    }
    .first-mrkt-s-div2{
      font-size: 30px !important;
    }
    .second-mrkt-s-div2{
      font-size: 20px !important;
    }
    .third-mrkt-s-div2{
      font-size: 30px !important;
    }

    /*THIRD DIV*/
    .first-mrkt-s-div3{
      margin-top: 0.5em !important;
      font-size: 47px !important;
    }
    .third-mrkt-s-div3{
      font-size: 29px !important;
      word-break: keep-all;
      text-shadow: 1px 1px #888888;
    }

    /* FOURTH DIV */
    #fourth-div{
      padding-top: 0 !important;
    }
    .firm-icon-width{
      width: 40px !important;
    }
    .migdal-icon-width{
      width: 15px !important;
    }

    /* FIFTH DIV*/
    #fifth-div{
      height: 25em !important;
    }
    .howboostworkstext{
      font-size: 45px !important;
      font-family: 'Assistant', serif !important;
    }

    .howboostworks{
        width: 90% !important;
        height: 45% !important;
      }

}






