@media only screen and (max-width: 1000px) {

  /*NAVBAR*/
  .logo{
  }
  .side-nav-btn{
    display: inline !important;
  }
  .faq-btn{
    display: none !important;
  }

  /*FIRST DIV*/
  #first-div{
    background-image: url("http://i.imgur.com/BMp11mA.png") !important;
    background-size: 300% !important;
    height: 50em !important;
  }
  .first-mrkt-s-m{
    margin-right: 0 !important;
    text-align: center !important;
    font-size: 47px !important;
  }

  .first-mrkt-ul{
    margin-left: 3em !important;
    margin-right: 3em !important;
    margin-top: 2em !important;
    text-shadow: 1px 1px #888888 !important;
    padding: 0 !important;
  }
  .first-div-bullet{
    font-size: 20px !important;
  }
  .join-btn{
    width: 100% !important;
  }

  #modal-contact{
    width: 90% !important;
    margin-top: 30% !important;
  }
  .navbtnstrt{
    margin-top: 0.4em !important; 
    height: 2em !important;
  }
  #title{
    margin-top:0.1em !important;
  }
  .exit-img{
    width: 15% !important;
}

  /*SECOND DIV*/

  .cal-inputs{
    width: 100% !important;
    margin-right: 1% !important;
    margin-left: 0 !important;
  }
  .first-mrkt-s-div2{
    font-size: 30px !important;
  }
  .second-mrkt-s-div2{
    font-size: 20px !important;
  }
  .third-mrkt-s-div2{
    font-size: 30px !important;
  }
   .fourth-mrkt-s-div2{
    font-size: 10px !important;
  }

  /*THIRD DIV*/
  #third-div{
    background-size: 800% !important;
  }
  #third-div-wrapper{
    margin-top: 5em !important;
  }
  .first-mrkt-s-div3{
    margin-top: 0.5em !important;
    font-size: 47px !important;
  }
  .third-mrkt-s-div3{
    margin-top: 1em;
    font-size: 35px !important;
    text-shadow: 1px 1px #888888 !important;
  }

  /* FOURTH DIV */
  #fourth-div{
    height: 42em !important;
    padding-top: 0 !important;
  }
  .firm-ul{
    margin-top: 3em !important;
  }
  .firm-icon-width{
    width: 45px !important;
  }
  .migdal-icon-width{
    width: 20px !important;
  }
  /* PRICES DIV */
  #prices-div{
    height: 46em !important;
  }
  .price-cube{
    margin-top: -20px !important;
  }
  .price-cube-text{
    font-size: 40px !important;
  }
  .more-services-p{
    margin-top: -10px !important;
    font-size: 20px !important;
    text-align: justify !important;
  }
  .coffee-img{
    width: 10% !important;
  }
  /* FIFTH DIV*/
  #fifth-div{
    height: 43em !important;
  }
  .howboostworkstext{
    font-size: 45px !important;
    font-family: 'Assistant', serif !important;
  }

  .howboostworks{
      width: 90% !important;
    }
  .noselect {
    -webkit-touch-callout: none !important; /* iOS Safari */
      -webkit-user-select: none !important; /* Safari */
       -khtml-user-select: none !important; /* Konqueror HTML */
         -moz-user-select: none !important; /* Firefox */
          -ms-user-select: none !important; /* Internet Explorer/Edge */
              user-select: none !important; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  // FAQ
  .tabs-faq{
    display: none !important;
  }
  .navbtns-faq-title-fixed{
    padding-top: 0 !important;
    font-size: 14px !important;
  }

}
