<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boost Your Pension</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Suez+One" rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Assistant:200,400&amp;subset=hebrew" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="animate.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>
  <!-- SIDENAVBAR -->
    <ul id="slide-out" class="side-nav" style="background-color: #fff; opacity: 0.9;font-family: 'Assistant', serif;">
    <div style="margin-top: 5em;text-align: right" >
      <li><a href="#" style="font-size: 18px">דמי ניהול</a></li>
      <li><a href="#" style="font-size: 18px">קרן השתלמות</a></li>
      <li><a href="#" style="font-size: 18px">חסכון פרטי</a></li>
      <li><div class="divider" style="font-size: 18px"></div></li>
      <li><a class="subheader" style="font-size: 18px">עזרה</a></li>
      <li><a class="waves-effect" href="#" style="font-size: 18px">אבטחה ופרטיות</a></li>
      <li><a class="waves-effect" href="#" style="font-size: 18px">צור קשר</a></li>
    </div>
  </ul>
  <!-- SIDENAVBAR / -->

  <!-- NAVBAR -->
  <div class="navbar-fixed section scrollspy" id="navbar-scroll" style="margin-top: -15px;">
    <nav id="navbar" style="box-shadow: 1px 1px 0px 1px #eeeeee;">
      <div class="nav-wrapper" style="margin-left: 5%; margin-right: 5%;">
        <a class="buttonsml buttonc navbtnstrt valign-wrapper" style="float: right;" href="#modal-contact"><span class="valign center-align" style="margin-left: -0.3em;">הצטרף</span></a>
        <a style="color: #000; float: left;" href="#" data-activates="slide-out" id="button-collapse"><i class="material-icons">menu</i></a>
          <h1 class="logo brand-logo center" id="title">Boost<span style="font-size: 12px; margin-top: -20px;display: block;color: #000; letter-spacing: 2px;margin-left: 4px; font-weight: 600">YOUR PENSION</span></h1>
        <ul id="" class="left hide-on-med-and-down" style="font-family: 'Assistant', serif; font-weight: 100;">
          <li><a style="color: #000; font-size: 20px" href="#fifth-div">?עובד Boost איך</a></li>
          <li><a style="color: #000; font-size: 20px" href="#fourth-div">תשואות</a></li>
          <li><a style="color: #000; font-size: 20px" href="#chart1div">דמי ניהול</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- NAVBAR/ -->






<script type="text/javascript">

   $('.navbtnstrt').hide();
  $(window).scroll(function() {
    if ($(window).scrollTop() > 470) {
        $('.navbtnstrt').removeClass("animated fadeOutUpBig");
        $('.navbtnstrt').show();
        $('.navbtnstrt').addClass("animated fadeInDownBig"); 
      } 
     else
     {
      $('.navbtnstrt').removeClass("animated fadeInDownBig");
      $('.navbtnstrt').addClass("animated fadeOutUpBig");
    }
});


        // Initialize collapse button
  $("#button-collapse").sideNav({
      menuWidth: 160, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
  });
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();

</script>
<%= yield %>

</body>
</html>
