<!DOCTYPE html>
<html>
<head>
  <title>DBI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVBAR -->
  <nav id="navbar" style="box-shadow: 0px 0px 0px 0px">
    <div class="nav-wrapper">
      <a href="#" id="title"><img class="logo" src="https://cdn.pixabay.com/photo/2016/11/21/19/31/icon-1847268_1280.png"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <!-- NAVBAR/ -->

<%= yield %>

</body>
</html>
